.container-cell {
    width: 48px;
    height: 48px;
    border: 2px solid white;
    padding: 5px;
    box-sizing: border-box;
}

.container-cell0 {
    width: 48px;
    height: 48px;
    border: 2px solid white;
    padding: 12px;
    box-sizing: border-box;
}


.circle {
    width: 50px;
    height: 50px;
    -moz-border-radius: 55%;
    -webkit-border-radius: 55%;
    border-radius: 100%;
    border: 10px solid;
    position:absolute;
    border-color: #FFD700;
    background: #FFFFFF;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: center;
     line-height: 50px;
}

.hand {
    cursor: pointer;
}

.container-div {
    background-color: #108413;
    display: inline-block;
    padding: 45px;
}

.red {
    background-color:#F43E3E;
}

.black {
    background-color:#000000;
}

.green {
    background-color: #108413;
}



.shape {
    width: 76px;
    height: 76px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 5px solid;
    border-color: white;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: center;
}

.num-white {
    color:white;
    font-size:30px;
    font-family:Verdana;
    align-content: center;
	vertical-align: middle;
    text-align: center;
    line-height: 70px;
}

.border-disappear {
    border: 0;
}
