{{#each this}}
    <div class="team">
        <div class="headerTeam">Club Atlético {{title}}</div>
        <br>
        <div class="bodyContentTeam">
            <div class="contentTeam">Fundación {{Fundación}}</div>
            <br>
            <div class="contentTeam">Ubicacion {{Ubicación}}</div>
            <br>
            <div class="linkTeam">
            <a href={{img}}>Ver Escudo</a>
            </div>
        </div>
    </div>
{{/each}}
