* {
    box-sizing: border-box;
}

.board {
    background-color: white;
    height: 430px;
    width: 400px;
    margin-left: 200px;
    margin-top: 50px;
}

.board .header {
    background-color: gray;
    height: 50px;
    width: 400px;    
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

.board .row:not(:last-child) {
    height: 117px;
    border-bottom: 5px solid gray;
}

.board .row .cell:not(:last-child) {
    width: 135px;
    height: 117px;
    border-right: 5px solid gray;
    float: left;
}

.board .row .cell {
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
    color: red;
    text-align: center;
}

#startGame {
    margin-top: 30px;
    margin-left: 200px;
}

#stateGame {
    margin-left: 20px;
    font-size: 20px;
    text-align: left;
    color: gray;
}