{{#each this}}
    <div class="team">
        {{title}}
        <br>
        <hr>
        <div>Fundación {{Fundación}}</div>
        <div>Ubicacion {{Ubicación}}</div>
        <a href={{img}}>Ver Escudo</a>
    </div>
{{/each}}
