#div {
    border: 2px solid;;
    width: 610px;
    height: 610px;
    background-color:chocolate;
    z-index: 1;
}


#table {
    position:relative;
    top:10;
    border: 2px solid;;
    width: 310px;
    height: 310px;
    background-color: aqua;
    z-index: 2;
}

.row {
    border: 2px solid;;
    width: 200px;
    height: 100px;
    background-color: blueviolet;
}

.celd{
    border: 2px solid;;
    width: 50px;
    height: 50px;
    background-color: gold;
}

#ficha {
    position: absolute;
    left: 630px;
    width:50px;
    z-index: 3;
}
