.shape {
    width: 55px;
    height: 55px;
    -moz-border-radius: 55%;
    -webkit-border-radius: 55%;
    border-radius: 100%;
    border: 2px solid;
    border-color: white;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: center;
}

.circle {
    width: 35px;
    height: 35px;
    -moz-border-radius: 55%;
    -webkit-border-radius: 55%;
    border-radius: 100%;
    border: 2px solid;
    position:absolute;
    border-color: mediumvioletred;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: center;
}


.border-disappear {
    border: 0;
}

.red {
    background-color:#F43E3E;
}

.black {
    background-color:#000000;
}

.green {
    background-color: #108413;
}

.num-white {
    color:white;
    font-size:30px;
    font-family:Verdana;
    align-content: center;
	vertical-align: middle;
    line-height: 64px;
}

.container-board {
    width:50px;
    border:3px solid white;
}

.container-board-aux {
    width:50px;
    border:3px solid orange;
    /*opacity: 0;*/
}


.container-roulette {
    background-color: #108413;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-top: 80px;
    padding-right: 10px;
    width: 920px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
}
