<table id= "cars" class="tblCar">
    <tr>
        <th id="1" class="colTbl">Car Model<p id = "1" class="colSel hiddenSelCol">#</p></th>
        <th id="2" class="colTbl">Driver Name<p id = "2" class="colSel hiddenSelCol">#</p></th>
        <th id="3" class="colTbl">Plate Id<p id = "3" class="colSel hiddenSelCol">#</p></th>
    </tr>
    {{#each this}}
        <tr>
            <td>{{car_model}}</td>
            <td>{{driver_name}}</td>
            <td>{{plate_id}}</td>
        </tr>
    {{/each}}

</table>
