<table id= "cars" class="table-cars">
    <tr>
        <th id="1" class="title-column-table">Car Model<p id = "1" class="selected-column hidden-column">#</p></th>
        <th id="2" class="title-column-table">Driver Name<p id = "2" class="selected-column hidden-column">#</p></th>
        <th id="3" class="title-column-table">Plate Id<p id = "3" class="selected-column hidden-column">#</p></th>
    </tr>
    {{#each this}}
        <tr>
            <td>{{car_model}}</td>
            <td>{{driver_name}}</td>
            <td>{{plate_id}}</td>
        </tr>
    {{/each}}

</table>
