<table class="tblCar">
    <tr>
        <td>Car Model</td>
        <td>Driver Name</td>
        <td>Plate Id</td>
    </tr>
    {{#each this}}
        <tr>
            <td>{{car_model}}</td>
            <td>{{driver_name}}</td>
            <td>{{plate_id}}</td>
        </tr>
    {{/each}}

</table>
