<table id= "cars" class="tblCar">
    <tr>
        <td class="colTbl">Car Model</td>
        <td class="colTbl">Driver Name</td>
        <td class="colTbl">Plate Id</td>
    </tr>
    {{#each this}}
        <tr>
            <td>{{car_model}}</td>
            <td>{{driver_name}}</td>
            <td>{{plate_id}}</td>
        </tr>
    {{/each}}

</table>
