.icon {
	width: 150px;
	height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
.center {
	padding-left: 10px;
	padding-right: 50px;
	text-align: center;
	font: bold 18px "Arial";
}
.container {
    margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
    width: 170px;
    height: 260px;
    background-color: white;
}
.positioned {
    border-width: 2px;
    border-style: solid;
    border-color: #3399CC;
}
#content {
	background: #f8F3DF;
}
