.num-white {
    color:white;
    font-size:30px;
    font-family:Verdana;
}

.horizontal-centered-text {
    align-content: center;
    vertical-align: middle;
    line-height: 50px;
}

.prueba {
    -webkit-transform: rotate(-90deg);
    border:0;
}

.circle {
    width: 55px;
    height: 55px;
    -moz-border-radius: 55%;
    -webkit-border-radius: 55%;
    border-radius: 100%;
    border: 2px solid;
    border-color: white;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.red {
    background-color:#F43E3E;
}

.black {
    background-color:#000000;
}

.container-roulette {
    background-color: #108413;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-top: 80px;
    padding-right: 10px;
    width: 900px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
}

.container-board {
    border:0;
    width:880px;
    height: 220px;
}

.container-board-col0 {
    width:40px;
    border:3px solid white;
}

.container-board-row {
    width:40px;
    border:3px solid white;
}
