.hand {
    cursor: pointer;
}

.cells {
    border: 1px solid white;
    box-sizing: border-box;
}

.container-div {
    background-color: #108413;
    display: inline-block;
    position: absolute;
}

.red {
    background-color:#F43E3E;
}

.black {
    background-color:#000000;
}

.green {
    background-color: #108413;
}

.shape {
    border-radius: 50px;
    border-color: white;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: center;
	position: absolute;
}

.num-white {
    color:white;
    font-size:30px;
    font-family:Verdana;
    line-height: 70px;
}

.chip-circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 10px solid;
    position:absolute;
    border-color: #FFD700;
    background: #FFFFFF;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: center;
    line-height: 50px;

}
