.selectable {
    cursor:pointer;
    cursor:hand;
}

.selected {
    width: 150px;
    height: 150px;
    border: 2px;
    border-style:dashed;
}

.positionable {
    cursor:move;    
}

.positioned {
    border-width: 1px;
    border-style: solid;
    border-color: aqua;  
    position:absolute;
    z-index: 1;
}



